<header class="container-fluid px-0  mx-0 bg__navbar fixed-top">
    <nav class="navbar navbar-expand-lg px-3 ">
        <div class="container-fluid px-0">
          <a class="navbar-brand fs-2 fw-bold text-light"  routerLink="/"><img style="width: 60px;"src="https://img.icons8.com/arcade/2x/buy.png" alt=""><span class="span__verde"> OFER</span><span class="span__morado">TAS</span></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <!----------carrito-------->
                <div class="dropdown-center">
                    <button class="btn nav__link__a dropdown__carrito dropdown-toggle " type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                        <i class="fa-solid fa-cart-shopping"></i> Carrito
                    </button>
                    <!------carrito container----->
                    <ul class="dropdown-menu dropdown__menu rounded-0">
                        <!------producto items------>
                      <div *ngIf="carritoservice.listaItemCarritos.length > 0  else noItems " style="min-height: 150px; max-height: 300px; overflow: auto;">
                        <div class="container d-flex gap-2 py-2 px-3" *ngFor="let itemCarrito of carritoservice.listaItemCarritos">
                          <!-----img---->
                          <div>
                              <img style="width: 70px;" src="{{itemCarrito.imagen}}" alt="">
                          </div>
                          <!-------nombre--->
                          <div class="container">
                              <div>
                                  <a  class="a__nombre">{{itemCarrito.nombre}}</a>
                              </div>
                              <div class="d-flex justify-content-between">
                                      <p class="a__nombre mb-0 fw-bold py-1">{{itemCarrito.cantidad}}</p>
                                      <p class="a__nombre text-primary mb-0 fw-bold py-1">{{itemCarrito.total | currency:'S/.'}}</p>
                              </div>
                          </div>
                        </div>
                      </div>
                      <ng-template #noItems>
                        <div class="container py-4 px-2">
                          <p class="text-center fw-bold text-primary">No hay productos en el carrito</p>
                          <p class="text-center fw-bold">Empieza a Comprar Ahora!!</p>
                        </div>
                      </ng-template>
                      <div class="container-fluid px-0">
                        <div class="d-flex w-100">
                            <button class="btn btn__carrito fw-bold text-light rounded-0 w-50">Ver Carrito <i class="fa-solid fa-eye"></i></button>
                            <button  class="btn btn__pagar  fw-bold text-light rounded-0 w-50">Ir a Pagar <i class="fa-solid fa-circle-arrow-right"></i></button>
                        </div>
                      </div>
                    </ul>
                </div>
                <a class="btn nav__link__a " routerLink="/productos"> <i class="fa-solid fa-store pe-2"  ></i>Productos</a>
                <a class="btn nav__link__a " routerLink="/productos"> <i class="fa-solid fa-truck-fast pe-2"></i>Mis Pedidos</a>
                <a class="btn nav__link__a  bg__login" routerLink="/login"> <i class="fa-solid fa-circle-user pe-2"></i>Iniciar Sesión</a>
                <a class="btn nav__link__a  bg__login" (click)="logout()" > <i class="fa-solid fa-circle-user pe-2"  ></i>Logout</a>
            </div>
          </div>
        </div>
      </nav>

</header>
