<div class="container">
    <div class="mb-5">
        <h2 class="text-center fs-2">Nuestros <span class="fw-bold"> Productos</span></h2>
    </div>
    <div class="row mb-3">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="card card__shadow">
                <a routerLink="" class="nav-link">  
                    <div class="card__img">
                        <img src="https://home.ripley.com.pe/Attachment/WOP_5/2065306644400/2065306644400_2.jpg" class="img py-3" alt="...">
                        <p class="p__estado bg-danger px-3">Nuevo</p>
                        <p class="p__categoria px-3">Categoria</p>
                    </div>
                </a>
                <div class="card-body">
                    <div class="container">
                        <p class="text-center">SAMSUNG</p>
                    <a routerLink="" class="nav-link"> <h6 class="card-title text-center">CELULAR SAMSUNG GALAXY A04E 6.5" 3GB 64GB 13MP + 2MP NEGRO</h6></a>
                    </div>
                  <div class="container d-flex justify-content-between py-3">
                    <p class="fw-bold p__precio">S/. 700.00</p>
                    <p class="fw-bold p__oferta">S/. 650.00</p>
                  </div>
                  <div class="container d-flex justify-content-center">
                    <a href="#" class="btn btn__carrito fw-bold"><i class="fa-solid fa-cart-plus pe-2"></i> Añadir a Carrito</a>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
